<div id="alert" style="z-index: 100; position: absolute; top: 5px; right: 5px;" class="alert alert-success fade show" >
  <strong>Hey!! </strong> <span id="msgAlert">New message</span>
  <button style="margin-left: 6px;" type="button" class="close" onclick="closeAlert()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>