<div id="session" class="container text-center" style="display: none">
    <div class="container text-center" style="margin-top: 20px;">
        <div class="row">
            <div class="col-sm-3 text-center"></div>
            <div class="col-sm-6 text-center">
                <h2><i class="fas fa-comments"></i> <span class="badge badge-primary">Simple chat room</span> <i class="fas fa-comments"></i></h2>
                <hr />
                <div class="card text-center">
                    <div class="card-header text-center">
                        <img height="200" width="400" src="/images/login.png" alt="Card image cap">
                        <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <div class="text-center border border-light p-3">
                            <div class="form-row mb-4">
                                <div class="col">
                                    <label>Enter your name:</label>
                                </div>
                                <div class="col">
                                    <input type="text" id="name" class="form-control" placeholder="Your name">
                                </div>
                            </div>
                        </div>
                        <button onclick="enter()" type="button" class="btn btn-primary">Enter <i class="fas fa-sign-in-alt"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 text-center"></div>
        </div>
    </div>
</div>