{{> header}}
        {{> session}}
        {{> chatTemplate}}
        <!-- SocketIO library -->   	    
        <script src="http://localhost:8000/socket.io/socket.io.js"></script>
        <!-- SocketIO to start -->
        <script src="js/socket-io.js"></script>

        <script src="js/constants.js"></script>
        <script src="js/storage.js"></script>
        <script src="js/div-handler.js"></script>

        <script src="js/display.js"></script>

        <script src="js/chat-socket.js"></script>
        
    </body>
</html>